.main{
    width: 100%;
    &__hero{
        display: flex;
        margin-top: 55px;
    }
    &__left{
        width: 25%;
        height: 79vh;
        position: fixed;
    }
    &__right{
        width: 73.5%;
        height: 79vh;
        overflow: scroll;
        overflow-x: hidden;
        margin-left: auto;
    }
}
::-webkit-scrollbar{
    width: 0;
}